.todo-button {
  height: 40px;
  padding: 0 22px;

  display: inline-flex;
  justify-content: center;
  align-items: center;

  background-color: #FFFFFF;
  border-radius: 8px;

  color: #000000;
  font-weight: 500;
  font-size: 18px;
  line-height: 30px;
}
