.todo-checkbox {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  font-size: 18px;
  line-height: 24px;
  color: #FFFFFF;

  &__input {
    opacity: 0;
  }

  &__inner {
    width: 30px;
    height: 30px;

    display: flex;
    justify-content: center;
    align-items: center;

    border: 2px solid #FFFFFF;
    color: #FFFFFF;
  }

  &__icon {
    height: 18px;
    width: 18px;
    color: #FFFFFF;

    svg {
      width: 100%;
      height: 100%;
    }
  }
}
